#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk

DEB_CONFIGURE_EXTRA_FLAGS := --with-gdm-config=/etc/gdm/gdm.conf \
				--with-xscreensaverdir=/usr/share/xscreensaver/config \
				--with-xscreensaverhackdir=/usr/lib/xscreensaver \
				--with-gdm-config=/etc/gdm/gdm.conf

common-install-impl::
	install -m 755 $(CURDIR)/debian/debian-floaters.desktop \
		/usr/share/gnome-screensaver/themes/
	install -m 755 $(CURDIR)/debian/debian-swirl-logo.svg \
		/usr/share/pixmaps
